<div class="container">
    <br>
    <div class="text-center">
        <h3>Add New Article</h3>
    </div>
    <form class="block" #article="ngForm" (ngSubmit)="onSubmit(article)">
        <label for="title">Title</label>
        <div class="form-group">
            <input class="form-control" name="title" type="text" autocomplete="off" required ngModel
                (keyup)="checkValid(article)">
        </div>
        <label for="body">Body</label>
        <div class="form-group">
            <textarea class="form-control" name="body" rows="8" required ngModel
                (keyup)="checkValid(article)"></textarea>
        </div>
        <label for="tags">Tags</label>
        <div class="form-group">
            <input class="form-control" type="text" name="tags" autocomplete="off"
                ngbTooltip="Enter tags separated by commas or select from the existing tags listed below" required
                ngModel (keyup)="onChange(article.value)">
            <button type="button" class="btn btn-secondary text-center" *ngFor="let tag of tagList?.data"
                (click)="onClick(tag, article, $event)">
                {{tag}}
            </button>
        </div>
        <div class="text-center" [ngbTooltip]="(article.invalid) ? 'Required fields are empty' : ''">
            <button class="text-center" type="submit" class="btn btn-success" [disabled]="article.invalid">Add
                Article</button>
        </div>
    </form>
</div>